<a href="https://colab.research.google.com/github/worldwidekatie/solnechnyy-svet/blob/master/solnechnyy_svet_data_cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# IRA Data Cleaning

[Source of IRA Tweets](https://www.kaggle.com/fivethirtyeight/russian-troll-tweets/version/1#IRAhandle_tweets_9.csv)

So I want to create a dataframe that is only the content for English tweets that are not retweets and then a column of 1's and I'll make another column of just 0's on the non-IRA and concatonate and that's how I'll differentiate later.

In [0]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [0]:
import pandas as pd
#This is what I used to clean each of the nine CSV files by changing
#The link in the read_csv nine times

#Read in the CSV
ira1 = pd.read_csv('/content/drive/My Drive/Colab Notebooks/IRA/IRAhandle_tweets_1.csv')

#Slim it down to the rows I want
ira1 = ira1[['content', 'language', 'retweet']]

#Filter for English tweets
ira1 = ira1[ira1['language'] == 'English']

#Filter for non-retweets
ira1 = ira1[ira1['retweet']==0]

#Slim down to just content and retweet status
ira1 = ira1[['content', 'retweet']]

#repurpose the retweets column to say if it's ira or not
ira1.rename(columns={'retweet':'ira'}, inplace=True)


#Change ira column to 1's because they are ira
ira1['ira'] = ira1['ira'] + 1

ira1.head()

                                             content  ira
0  "We have a sitting Democrat US Senator on tria...    1
1  Marshawn Lynch arrives to game in anti-Trump s...    1
3  JUST IN: President Trump dedicates Presidents ...    1
5  Dan Bongino: "Nobody trolls liberals better th...    1
7  '@SenatorMenendez @CarmenYulinCruz Doesn't mat...    1

In [0]:
#Then exporting that nine times as new CSVs in my drive
ira1.to_csv('ira1_cleaned.csv')
!cp ira1_cleaned.csv "drive/My Drive/"

In [0]:
#I created a larga file with all the cleaned IRA CSVs
df1 = pd.read_csv('/content/drive/My Drive/ira1_cleaned.csv')
df2 = pd.read_csv('/content/drive/My Drive/ira2_cleaned.csv')
df3 = pd.read_csv('/content/drive/My Drive/ira3_cleaned.csv')
df4 = pd.read_csv('/content/drive/My Drive/ira4_cleaned.csv')
df5 = pd.read_csv('/content/drive/My Drive/ira5_cleaned.csv')
df6 = pd.read_csv('/content/drive/My Drive/ira6_cleaned.csv')
df7 = pd.read_csv('/content/drive/My Drive/ira7_cleaned.csv')
df8 = pd.read_csv('/content/drive/My Drive/ira8_cleaned.csv')
df9 = pd.read_csv('/content/drive/My Drive/ira9_cleaned.csv')
ira_tweets = pd.concat([df1, df2, df3, df4, df5, df6, df7, df8, df9])

ira_tweets.shape

(1272848, 3)

In [0]:
#And exported the final as a new csv to my drive
ira1.to_csv('ira_tweets_cleaned.csv')
!cp ira_tweets_cleaned.csv "drive/My Drive/"

#Non-IRA data cleaning

###[First Source of non-IRA tweets](https://www.kaggle.com/kazanova/sentiment140), a Kaggle tweet database for sentiment analysis

In [0]:
import pandas as pd
df = pd.read_csv('/content/drive/My Drive/Non-IRA To Clean/non_ira1.csv', encoding='latin-1', 
                 names=['target', 'ids', 'date', 'flag', 'user', 'text'])
df.head()

   target  ...                                               text
0       0  ...  @switchfoot http://twitpic.com/2y1zl - Awww, t...
1       0  ...  is upset that he can't update his Facebook by ...
2       0  ...  @Kenichan I dived many times for the ball. Man...
3       0  ...    my whole body feels itchy and like its on fire
4       0  ...  @nationwideclass no, it's not behaving at all....

[5 rows x 6 columns]

In [0]:
df = df[['text', 'target']]
df.head()

                                                text  target
0  @switchfoot http://twitpic.com/2y1zl - Awww, t...       0
1  is upset that he can't update his Facebook by ...       0
2  @Kenichan I dived many times for the ball. Man...       0
3    my whole body feels itchy and like its on fire        0
4  @nationwideclass no, it's not behaving at all....       0

In [0]:
df['target'].value_counts()

4    800000
0    800000
Name: target, dtype: int64

In [0]:
df['target'] = df['target'].replace({4:0})

df['target'].value_counts()

0    1600000
Name: target, dtype: int64

In [0]:
df.rename(columns={'text':'content', 'target': 'ira'}, inplace=True)

df.head()

                                             content  ira
0  @switchfoot http://twitpic.com/2y1zl - Awww, t...    0
1  is upset that he can't update his Facebook by ...    0
2  @Kenichan I dived many times for the ball. Man...    0
3    my whole body feels itchy and like its on fire     0
4  @nationwideclass no, it's not behaving at all....    0

#Add them together to test

In [0]:
test_df = pd.concat([df, ira_tweets], sort=False)

test_df.shape

test_df['ira'].value_counts()

0    1600000
1    1272848
Name: ira, dtype: int64

In [0]:
#Exported the test dataset as a new csv to my drive
ira1.to_csv('test_df4.csv')
!cp test_df4.csv "drive/My Drive/"

In [0]:
#Here I got frustrated it kept changing everything to ones so I tried making
#them 2's instead of zero's but still they changed to ones.

#I'll have to figure that out eventually.
df.head()

df['target'] = df['target'].replace({0:2})

df.head()

                                                text  target
0  @switchfoot http://twitpic.com/2y1zl - Awww, t...       2
1  is upset that he can't update his Facebook by ...       2
2  @Kenichan I dived many times for the ball. Man...       2
3    my whole body feels itchy and like its on fire        2
4  @nationwideclass no, it's not behaving at all....       2