<a href="https://colab.research.google.com/github/worldwidekatie/solnechnyy-svet/blob/master/solnechnyy_svet_data_cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

[Source of IRA Tweets](https://www.kaggle.com/fivethirtyeight/russian-troll-tweets/version/1#IRAhandle_tweets_9.csv)

So I want to create a dataframe that is only the content for English tweets that are not retweets and then a column of 1's and I'll make another column of just 0's on the non-IRA and concatonate and that's how I'll differentiate later.

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [16]:
#Import the data frame
import pandas as pd

ira1 = pd.read_csv('/content/drive/My Drive/Disinfo Data/IRAhandle_tweets_1.csv')
ira1.head()

   external_author_id  author  ... retweet account_category
0        9.060000e+17  10_GOP  ...       0       RightTroll
1        9.060000e+17  10_GOP  ...       0       RightTroll
2        9.060000e+17  10_GOP  ...       1       RightTroll
3        9.060000e+17  10_GOP  ...       0       RightTroll
4        9.060000e+17  10_GOP  ...       1       RightTroll

[5 rows x 15 columns]

In [17]:
#Slim it down to the rows I want
ira1 = ira1[['content', 'language', 'retweet']]

ira1.shape

(381016, 3)

In [18]:
#Filter for English tweets
ira1 = ira1[ira1['language'] == 'English']

ira1.shape

(291571, 3)

In [19]:
#Filter for non-retweets
ira1 = ira1[ira1['retweet']==0]

ira1.shape

(154277, 3)

In [21]:
#Slim down to just content and retweet status
ira1 = ira1[['content', 'retweet']]

ira1.shape

(154277, 2)

In [25]:
#repurpose the retweets column to say if it's ira or not
ira1.rename(columns={'retweet':'ira'}, inplace=True)

ira1.head()

/usr/local/lib/python3.6/dist-packages/pandas/core/frame.py:4238: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(**kwargs)

                                             content  ira
0  "We have a sitting Democrat US Senator on tria...    0
1  Marshawn Lynch arrives to game in anti-Trump s...    0
3  JUST IN: President Trump dedicates Presidents ...    0
5  Dan Bongino: "Nobody trolls liberals better th...    0
7  '@SenatorMenendez @CarmenYulinCruz Doesn't mat...    0

In [26]:
#Change ira column to 1's because they are ira
ira1['ira'] = ira1['ira'] + 1

ira1.head()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

                                             content  ira
0  "We have a sitting Democrat US Senator on tria...    1
1  Marshawn Lynch arrives to game in anti-Trump s...    1
3  JUST IN: President Trump dedicates Presidents ...    1
5  Dan Bongino: "Nobody trolls liberals better th...    1
7  '@SenatorMenendez @CarmenYulinCruz Doesn't mat...    1

In [0]:
#Export it as a new csv to my drive
ira1.to_csv('ira1_cleaned.csv')
!cp ira1_cleaned.csv "drive/My Drive/"