<a href="https://colab.research.google.com/github/worldwidekatie/solnechnyy-svet/blob/master/train_test_val_creation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd

In [0]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

# First bring in the previously shaped IRA dataset

In [0]:
df2 = pd.read_csv('/content/drive/My Drive/ira_tweets_cleaned.csv')
df2.shape

(154277, 16)

In [0]:
df2.head()

   Unnamed: 0  external_author_id  ... retweet account_category
0           0        9.060000e+17  ...       0       RightTroll
1           1        9.060000e+17  ...       0       RightTroll
2           3        9.060000e+17  ...       0       RightTroll
3           5        9.060000e+17  ...       0       RightTroll
4           7        9.060000e+17  ...       0       RightTroll

[5 rows x 16 columns]

In [0]:
# Create the testing dataframe
ira_test = df2[df2['new_june_2018']==1]

In [0]:
ira_test = pd.DataFrame(ira_test['content'])
ira_test['label'] = [1] * len(ira_test)
ira_test

                                                  content  label
293     U don't like Carson - u r racist, U don't like...      1
294     Some idiotic show on MTV would be more informa...      1
295     God is not a franchise of the Republican Party...      1
296     #Cruz is the worst candidate for our country #...      1
297     Whatever happened to #Bush? Where’s he hiding?...      1
...                                                   ...    ...
148905  They won't tell you about these Black inventor...      1
148906  Pearl Harbor attack. Women of color doing stuf...      1
148907  Adolf Hitler murdered 10M Europeans. King Leop...      1
148908  At a time when Africans were withheld from edu...      1
148909  August 18, 1963 - the first Black person admit...      1

[21779 rows x 2 columns]

In [0]:
# Create the training dataframe
ira_train = df2[df2['new_june_2018']==0]

In [0]:
ira_train = pd.DataFrame(ira_train['content'])
ira_train['label'] = [1] * len(ira_train)
ira_train

                                                  content  label
0       "We have a sitting Democrat US Senator on tria...      1
1       Marshawn Lynch arrives to game in anti-Trump s...      1
2       JUST IN: President Trump dedicates Presidents ...      1
3       Dan Bongino: "Nobody trolls liberals better th...      1
4       '@SenatorMenendez @CarmenYulinCruz Doesn't mat...      1
...                                                   ...    ...
154272  How Racism Causes Post Traumatic Stress Disord...      1
154273  RT @_WeAreBlack: Send those killer cops to jai...      1
154274  RT @USAHumanist: #Milwaukee county Sheriff Dav...      1
154275  RT @jmedoom: We are here to give @realDonaldTr...      1
154276  When you're black AND Muslim and u Gotta remin...      1

[132498 rows x 2 columns]

In [0]:
df2['new_june_2018'].value_counts(normalize=True)

0    0.858832
1    0.141168
Name: new_june_2018, dtype: float64

# Bringing in the non-IRA tweets
### These tweets are from a sentiment analysis dataset of 1,600,000 tweets from [Kaggle](https://www.kaggle.com/kazanova/sentiment140). 

Dataset citation: Go, A., Bhayani, R. and Huang, L., 2009. Twitter sentiment classification using distant supervision. CS224N Project Report, Stanford, 1(2009), p.12.

target: the polarity of the tweet (0 = negative, 2 = neutral, 4 = positive)

ids: The id of the tweet ( 2087)

date: the date of the tweet (Sat May 16 23:58:44 UTC 2009)

flag: The query (lyx). If there is no query, then this value is NO_QUERY.

user: the user that tweeted (robotickilldozr)

text: the text of the tweet (Lyx is cool)

In [0]:
#Bringing in non-ira #1 
df = pd.read_csv('/content/drive/My Drive/Disinfo Data/non_ira_tweets.csv', encoding='latin-1', 
                 names=['target', 'ids', 'date', 'flag', 'user', 'text'])
df.shape

(1600000, 6)

In [0]:
df.head()

   target  ...                                               text
0       0  ...  @switchfoot http://twitpic.com/2y1zl - Awww, t...
1       0  ...  is upset that he can't update his Facebook by ...
2       0  ...  @Kenichan I dived many times for the ball. Man...
3       0  ...    my whole body feels itchy and like its on fire
4       0  ...  @nationwideclass no, it's not behaving at all....

[5 rows x 6 columns]

In [0]:
# Re-shaping for concatonation later
non_ira1['content'] = pd.DataFrame(df['text'])
non_ira1['label'] = [0] * len(non_ira1)
non_ira1 = non_ira1[['content', 'label']]
non_ira1

                                                   content  label
0        @switchfoot http://twitpic.com/2y1zl - Awww, t...      0
1        is upset that he can't update his Facebook by ...      0
2        @Kenichan I dived many times for the ball. Man...      0
3          my whole body feels itchy and like its on fire       0
4        @nationwideclass no, it's not behaving at all....      0
...                                                    ...    ...
1599995  Just woke up. Having no school is the best fee...      0
1599996  TheWDB.com - Very cool to hear old Walt interv...      0
1599997  Are you ready for your MoJo Makeover? Ask me f...      0
1599998  Happy 38th Birthday to my boo of alll time!!! ...      0
1599999  happy #charitytuesday @theNSPCC @SparksCharity...      0

[1600000 rows x 2 columns]

## Bringing in Non-IRA #2

### Which can also be accessed via [Kaggle](https://www.kaggle.com/crowdflower/first-gop-debate-twitter-sentiment)

In [0]:
# Bringing in the next non-ira
df3 = pd.read_csv('/content/drive/My Drive/gop_debate.csv')
df3.shape

(13871, 21)

In [0]:
df3.head()

   id               candidate  ...  tweet_location               user_timezone
0   1  No candidate mentioned  ...             NaN                       Quito
1   2            Scott Walker  ...             NaN                         NaN
2   3  No candidate mentioned  ...             NaN                         NaN
3   4  No candidate mentioned  ...           Texas  Central Time (US & Canada)
4   5            Donald Trump  ...             NaN                     Arizona

[5 rows x 21 columns]

In [0]:
# Re-shaping it for concatonation later
non_ira2 = pd.DataFrame(df3['text'])
non_ira2['content'] = non_ira2['text']
non_ira2['label'] = [0] * len(non_ira2)
non_ira2 = non_ira2[['content', 'label']]
non_ira2

                                                 content  label
0      RT @NancyLeeGrahn: How did everyone feel about...      0
1      RT @ScottWalker: Didn't catch the full #GOPdeb...      0
2      RT @TJMShow: No mention of Tamir Rice and the ...      0
3      RT @RobGeorge: That Carly Fiorina is trending ...      0
4      RT @DanScavino: #GOPDebate w/ @realDonaldTrump...      0
...                                                  ...    ...
13866  RT @cappy_yarbrough: Love to see men who will ...      0
13867  RT @georgehenryw: Who thought Huckabee exceede...      0
13868  RT @Lrihendry: #TedCruz As President, I will a...      0
13869  RT @JRehling: #GOPDebate Donald Trump says tha...      0
13870  RT @Lrihendry: #TedCruz headed into the Presid...      0

[13871 rows x 2 columns]

## Bringing in Non-IRA #3
### Which can also be accessed on [Kaggle](https://www.kaggle.com/crowdflower/twitter-user-gender-classification).

In [0]:
# Bringing in the next non-ira
df4 = pd.read_csv('/content/drive/My Drive/gender_class.csv', encoding='latin-1')
df4.shape

(20050, 26)

In [0]:
df4.head()

    _unit_id  _golden  ...   tweet_location               user_timezone
0  815719226    False  ...  main; @Kan1shk3                     Chennai
1  815719227    False  ...              NaN  Eastern Time (US & Canada)
2  815719228    False  ...           clcncl                    Belgrade
3  815719229    False  ...    Palo Alto, CA  Pacific Time (US & Canada)
4  815719230    False  ...              NaN                         NaN

[5 rows x 26 columns]

In [0]:
#Re-shaping for concatonation later
non_ira3 = pd.DataFrame(df4['text'])
non_ira3['content'] = non_ira3['text']
non_ira3['label'] = [0] * len(non_ira3)
non_ira3 = non_ira3[['content', 'label']]
non_ira3

                                                 content  label
0      Robbie E Responds To Critics After Win Against...      0
1      ÛÏIt felt like they were my friends and I was...      0
2      i absolutely adore when louis starts the songs...      0
3      Hi @JordanSpieth - Looking at the url - do you...      0
4      Watching Neighbours on Sky+ catching up with t...      0
...                                                  ...    ...
20045  @lookupondeath ...Fine, and I'll drink tea too...      0
20046  Greg Hardy you a good player and all but don't...      0
20047  You can miss people and still never want to se...      0
20048  @bitemyapp i had noticed your tendency to pee ...      0
20049  I think for my APUSH creative project I'm goin...      0

[20050 rows x 2 columns]

## Non-IRA #4 and #5
### Which can also be accessed on [Kaggle](https://www.kaggle.com/arkhoshghalb/twitter-sentiment-analysis-hatred-speech)

In [0]:
#Bringing in the next non-ira 
df5 = pd.read_csv('/content/drive/My Drive/hate_speech.csv')
df5.shape

(17197, 2)

In [0]:
df5.head()

      id                                              tweet
0  31963  #studiolife #aislife #requires #passion #dedic...
1  31964   @user #white #supremacists want everyone to s...
2  31965  safe ways to heal your #acne!!    #altwaystohe...
3  31966  is the hp and the cursed child book up for res...
4  31967    3rd #bihday to my amazing, hilarious #nephew...

In [0]:
# Reshaping for concatonation later
non_ira4 = pd.DataFrame(df5['tweet'])
non_ira4['content'] = non_ira4['tweet']
non_ira4['label'] = [0] * len(non_ira4)
non_ira4 = non_ira4[['content', 'label']]
non_ira4

                                                 content  label
0      #studiolife #aislife #requires #passion #dedic...      0
1       @user #white #supremacists want everyone to s...      0
2      safe ways to heal your #acne!!    #altwaystohe...      0
3      is the hp and the cursed child book up for res...      0
4        3rd #bihday to my amazing, hilarious #nephew...      0
...                                                  ...    ...
17192  thought factory: left-right polarisation! #tru...      0
17193  feeling like a mermaid ð #hairflip #neverre...      0
17194  #hillary #campaigned today in #ohio((omg)) &am...      0
17195  happy, at work conference: right mindset leads...      0
17196  my   song "so glad" free download!  #shoegaze ...      0

[17197 rows x 2 columns]

In [0]:
# Bringing in the next non-ira 
df6 = pd.read_csv('/content/drive/My Drive/hate_speech2.csv')
df6.shape

(31962, 3)

In [0]:
df6.head()

   id  label                                              tweet
0   1      0   @user when a father is dysfunctional and is s...
1   2      0  @user @user thanks for #lyft credit i can't us...
2   3      0                                bihday your majesty
3   4      0  #model   i love u take with u all the time in ...
4   5      0             factsguide: society now    #motivation

In [0]:
#Reshaping for concatonation later
non_ira5 = pd.DataFrame(df6['tweet'])
non_ira5['content'] = non_ira5['tweet']
non_ira5['label'] = [0] * len(non_ira5)
non_ira5 = non_ira4[['content', 'label']]
non_ira5

                                                 content  label
0      #studiolife #aislife #requires #passion #dedic...      0
1       @user #white #supremacists want everyone to s...      0
2      safe ways to heal your #acne!!    #altwaystohe...      0
3      is the hp and the cursed child book up for res...      0
4        3rd #bihday to my amazing, hilarious #nephew...      0
...                                                  ...    ...
17192  thought factory: left-right polarisation! #tru...      0
17193  feeling like a mermaid ð #hairflip #neverre...      0
17194  #hillary #campaigned today in #ohio((omg)) &am...      0
17195  happy, at work conference: right mindset leads...      0
17196  my   song "so glad" free download!  #shoegaze ...      0

[17197 rows x 2 columns]

# Then it's time to concatonate and do final test/train/validate splits

In [0]:
# Concatonating all the non-ira
non_ira = pd.concat([non_ira1, non_ira2, non_ira3, non_ira4, non_ira5])
non_ira.shape

(1668315, 2)

In [0]:
# Doing a test/train split
from sklearn.model_selection import train_test_split
non_ira_train, non_ira_test = train_test_split(non_ira, test_size=0.15, random_state=42)

In [0]:
# Doing a train/validate split
non_ira_train, non_ira_val =  train_test_split(non_ira_train, random_state=42)

In [0]:
# Doing a test/validate split for IRA
ira_train, ira_val =  train_test_split(ira_train, random_state=42)

In [0]:
# Concatonating train IRA and train non-IRA
train = pd.concat([non_ira_train, ira_train])
train.shape

(1162923, 2)

In [0]:
# Exporting it to my drive for later use
train.to_csv('final_train.csv')
!cp final_train.csv "drive/My Drive/"

In [0]:
# Concatonating IRA and non-IRA validation sets
val = pd.concat([non_ira_val, ira_val])
val.shape

(387642, 2)

In [0]:
# Exporting it to my drive for later use
val.to_csv('final_val.csv')
!cp final_val.csv "drive/My Drive/"

In [0]:
# Concatonating IRA and non-IRA test datsets
test = pd.concat([non_ira_test, ira_test])
test.shape

(272027, 2)

In [0]:
# Sending that to my drive for later use
test.to_csv('final_test.csv')
!cp final_test.csv "drive/My Drive/"

In [0]:
# Checking to see if the labels came out like they should
# And they did.
train['label'].value_counts(normalize=True)

0    0.914549
1    0.085451
Name: label, dtype: float64

In [0]:
val['label'].value_counts(normalize=True)

0    0.914547
1    0.085453
Name: label, dtype: float64

In [0]:
test['label'].value_counts(normalize=True)

0    0.919938
1    0.080062
Name: label, dtype: float64